.git
.github
.vscode
.venv
venv
env
__pycache__
*.pyc
*.pyo
*.pyd
.env
.env.*
.DS_Store
.gitignore
logs/
mlruns/
Artifacts/
final_model/
prediction_output/
*.log
.coverage
.pytest_cache/
.mypy_cache/
.ruff_cache/
